/* Import */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

/* Général */
body {
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #ccc;
  --color-bg-item1: #FFF;
  --color-bg-item2: #000;
  --color-bg-item3: #eeeeee;
  --color-bg-item4: #dedede;
  --color-bg-item5: #EBEBEB;
  --color-item-alt: #cecece;
  --color-quote: #00000;
  --color-info: #ccc;
  --color-title: #e23434;
  --color-tagline: #e2e2e2;
	font-family: 'Playfair Display', serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	padding: 6rem 0 0 0;
  margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  height:auto !important;
  cursor:none;
}

html {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight:400;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight:900;
}
  h2 {
      font-size: 72px;
      line-height: 1.11em;
      color: #000;
      font-weight: 900;
  }
  .sa {
      padding: 0 30px;
  }
  .container {
      padding: 30px;
      margin: 0 auto;
      max-width: 1170px;
  }
  a, button {
    text-decoration: none;
    color: currentColor;
    cursor: none !important;
  }
  a:hover {
      color: #000;
      text-decoration: none;
  }
  .page{
    position:relative; 
  }
  section{
      background:#EAEAEA;
      padding: 40px 0;
      overflow:hidden;
  }
  section:nth-child(2n-1){
      background:#fff;
  }
  .blend-mode{
    mix-blend-mode: hard-light;
  }
  .blend-mode-2{
    mix-blend-mode: hard-light;
  }
  .page-enter-active, .page-leave-active {
    transition: all .5s ease;
  }
  .page-enter-active .vertical-center, .page-leave-active .vertical-center {
    transition: all 3s ease;
    padding: 500px 0!important;
    position: relative;
  }
  .page-enter, .page-leave-active {
    opacity: 0;
    filter:blur(100px);
  }
  .page-enter .vertical-center, .page-leave .vertical-center {
    position: relative;
    padding: 70px 0!important;
  }
  .underline {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 15px), red 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position:-3px;
    transition: background-size 1s;
  }
  .content-blog .underline {
    background-image: linear-gradient(transparent calc(100% - 15px), grey 10px);
  }
  .underline:hover {
    background-size: 100% 100%;
  }
  @media only screen and (min-width:960px) and (max-width:1264px){
  
  }
  @media only screen and (min-width:600px) and (max-width:959px){
  
  }
  @media only screen and (max-width:599px){
    h2 {
        font-size: 50px;
        line-height: 1em;
        margin-bottom: 15px;
    }
    .container {
        padding: 30px 15px;
    }
  }

/*Page Portfolio*/
 .portfolio {
      position: relative;
  }
  .works {
      width: 25%;
      display: inline-block;
      height: 25vw;
      overflow: hidden;
      margin-bottom: -5px;
      position: relative;
  }
  .centrer {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }
  .artists-img {
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      filter:blur(50px);
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
  }
  .artists-img[lazy=loaded]{
      filter:blur(0px) !important;
  }
  .fontblur{
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      filter:blur(50px);
      position: absolute;
      height:110%;
      width: auto;
  }

/*Page Image*/
  .intro {
      position: relative;
      width: 100%;
      height:auto;
      z-index:1;
  }
  .artist {
      padding: 0 !important;
  }
  .artist .header {
      width: 100%;
      height: auto;
      position: relative;
      padding: 50px 0;
      text-align: center;
  }
  .portfolio {
      position: relative;
  }
  .work {
      width: 100%;
      display: inline-block;
      height: auto;
      position: relative;
  }
  .center {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }
  .work .center{
      padding:50px 0;
      overflow: visible !important;
  }
  .artist-img {
      position: relative;
      left: 50%;
      -webkit-transform: translatex(-50%);
      transform: translatex(-50%);
      filter:blur(50px);
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
  }
  .artist-img[lazy=loaded]{
      filter:blur(0px) !important;
  }
  .fontblur{
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      filter:blur(50px);
      position: absolute;
      height:110%;
      width: auto;
  }
  .artist .full-width{
      width:100%;
      background:transparent;
      display: inline-block;
      z-index:1;
      position:relative;
  }
  .artist .full-width p {
      text-align: center;
      display: inline-block;
      padding: 15px 25px;
      background: #fff;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }

  @media only screen and (min-width:960px) and (max-width:1264px){

  }
  @media only screen and (min-width:600px) and (max-width:959px){
    .work {
        width: 50%;
        height: 50vw;
    }
    .artist .container {
        margin: 0;
    }
    .artist .header {
        width: 100%;
        left: 0;
        top: 30px !important;
        -webkit-transform: none;
        transform: none;
    }
  }
  @media only screen and (max-width:599px){
    .work {
        width: 100%;
        height: 100vw;
    }
    .artist .full-width {
        margin-bottom: 0;
    }
    .artist .container {
        margin: 0;
    }
    .artist .header {
        width: 100%;
    }
    .artist-cover {
        height: 100vh;
        top: 0;
    }
    .intro {
        margin-top: 0;
        margin-bottom: 30px;
    }
    
  }


/*Blog Page*/
  .blog-list {
      display: inline-grid;
      width: 70%;
      padding-right: 15px;
  }
  a.blog-title {
    color: #000;
    text-decoration: none;
    position: relative;
    font-family: titaniaregular,serif;
    font-size: 40px;
  }
  article img {
    width: 100%;
  }
  article .blog-cover {
    padding: 15px 0px;
  }
  article p {
    padding: 0px;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #505050;
  }
  article a {
    font-family: titaniaregular,serif;
    color: black;
  }
 
  .blog-footer {
      display: inline-flex;
      width: 100%;
      margin-bottom: 30px;
  }
  .blog-readmore {
    font-family: titaniaregular,serif;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    line-height: 1.56em;
    width: 50%;
  }
  .blog-date {
      border-left: 7px double #e6e6e6;
      margin-bottom: 15px;
      padding-left: 10px;
      font-size: 16px;
      line-height: 1.56em;
      color: #000;
      font-weight: 900;
      font-family: 'titaniaregular', serif;
      text-align: right;
      position: relative;
      width: 50%;
  }
  .blog-date b.grey {
      color: #898989;
      font-weight: normal;
  }
  .content-blog section {
      background: #fff none repeat scroll 0 0;
      border-color: #e6e6e6;
      border-style: double inset;
      border-width: 7px 0;
      margin: 45px 0px;
      padding: 30px;
  }
  .sa {
      padding: 0 30px;
  }
  
  @media only screen and (min-width:960px) and (max-width:1264px){
  
  }
  @media only screen and (min-width:600px) and (max-width:959px){
  
  }
  @media only screen and (max-width:599px){
      .blog-list {
          display: inline-grid;
          width: 100%;
          padding-right: 0;
      }
  }


  /*Carousel*/
  .caroublog {
      height: 350px!important;
      width: 100%;
      display: flex;   
      overflow: hidden;
      position: relative;
  }
  .carousel-item {
      visibility:visible;
      display: flex;
      width: 90%;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      -webkit-align-items: center;
      -webkit-justify-content: flex-end;
      position: relative;
      background-color: #fff;
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
      position: absolute;
      z-index: 0;
      transition: 0.6s all linear;
  }
  .carousel-tattoos .carousel-item {
      left: 10%;
  }
  .carousel-item__info {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-flex-direction: column;
      order: 2;
      left: 0;
      margin: auto;
      padding: 0 40px;
      width: 40%;
  }
  .carousel-tattoos .carousel-item__info {
      order: 1;
  }
  .carousel-item__image {
      width: 60%;
      height: 100%;      
      align-self: flex-end;
      flex-basis: 60%;
      order: 1;
      -webkit-order: 1;    
      -webkit-align-self: flex-end;
      -webkit-flex-basis: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position:relative;
      transform: translateX(-100%);
      transition: 0.6s all ease-in-out;
  }
  .carousel-tattoos .carousel-item__image {
      transform: translateX(100%);
      order: 2;
  }
  .carousel-item__subtitle {
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      font-size: 10px;
      text-transform: uppercase;
      margin: 0;
      color: #7E7E7E;    
      font-weight: 700;
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.4s all ease-in-out;
  }
  .carousel-item__title {
      margin: 15px 0 0 0;
      font-family: 'Playfair Display', serif;
      font-size: 44px;
      line-height: 45px;
      letter-spacing: 3px;
      font-weight: 700;
      color: #2C2C2C;
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease-in-out;
  }
  .carousel-item__description {
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease-in-out;
      margin-top: 35px;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      color: #7e7e7e;
      line-height: 22px;
      margin-bottom: 35px;
  }
  .carousel-item__container{

  }
  .carousel-item__btn {
      width: 35%;
      color: #2C2C2C;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      font-size: 11px;
      text-transform: uppercase;
      margin: 0;
      width: 35%;
      font-weight: 700;
      text-decoration: none;
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease-in-out;
  }
  .carousel__nav {
      position: absolute;
      z-index: 2;
      background-color: #fff;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  .carousel-tattoos .carousel__nav {
      left:5%;  
  }
  .carousel-artworks .carousel__nav {
      right:5%;  
  }
  .carousel__icon {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      fill: #5d5d5d;
  }
  .carousel__arrow {
      cursor: pointer;
      display: inline-block;
      padding: 11px 15px;
      position: relative;
  }
  .carousel__arrow:nth-child(1):after {
      content:'';
      right: -3px;
      position: absolute;
      width: 1px;
      background-color: #b0b0b0;
      height: 14px;
      top: 50%;
      margin-top: -7px;
  }
  .active{
      z-index: 1;
      display: flex;
      visibility:visible;
  }
  .active .carousel-item__subtitle, 
  .active .carousel-item__title, 
  .active .carousel-item__description,
  .active .carousel-item__btn{
      transform: translateY(0);
      opacity: 1;
      transition: 0.6s all ease-in-out;
      visibility: visible;
  }
  .active .carousel-item__image{ 
      transition: 0.6s all ease-in-out;
      transform: translateX(0);
  }

