/* WIDGET - LIGHTBOX */
  /* Diaporama */
  .diaporama .image-lightbox {
	    margin: 15px;
	    display: inline-block;
	    /* width: calc(50% - 30px); */
	    overflow: hidden;
	    height: 25vh;
	    position: relative;
			background:#e9e9e9;
	}
	.diaporama img {
			max-width: 100%;
			position: relative;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: auto;
			max-height: 100%;
	}
  /* lightbox Full */
  .modal-lightbox {
      display: none;
      position: fixed;
      z-index: 101;
      padding: 50px 0;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% - 100px);
      overflow: auto;
      background-color: #e9e9e9;
  }
  .lightbox-content {
  	  position: relative;
  	  background-color:transparent;
  	  margin: auto;
  	  padding: 0;
  	  width: 60%;
  		top: 50%;
  		transform: translatey(-50%);
  		height: 100%;
  }
  .full-lightbox {
      display: none;
      height: 100%;
  }
  .full-lightbox img {
      max-height: calc(100vh - 100px);
      max-width: 100%;
      top: 50%;
      left: 50%;
      position: relative;
      transform: translate(-50%, -50%);
  }
  .caption-container {
      text-align: center;
      background-color: transparent;
      padding: 0;
      color: #000000;
      font-size: initial;
      position: fixed;
      bottom: 15px;
      width: 60%;
      left: 50%;
      transform: translateX(-50%);
  }
  #caption {
      margin: 0;
      line-height: 35px;
  }
  /* lightbox Navigation */
  .close-lightbox {
      color: #000;
      position: absolute;
      top: 10px;
      right: 50px;
      font-size: 70px;
      font-weight: lighter;
      text-transform: unset;
  }
  .close-lightbox:hover,
  .close-lightbox:focus {
  	  color: #999;
  	  text-decoration: none;
  	  cursor: pointer;
  }
  .prev-full-lightbox,
  .next-full-lightbox {
  	  cursor: pointer;
  	  position: absolute;
  	  top: 50%;
  	  width: auto;
  	  padding: 16px;
  	  transform: translateY(-50%);
  	  color: #000;
  	  font-weight: bold;
  	  font-size: 70px;
  	  transition: 0.6s ease;
  	  border-radius: 0 3px 3px 0;
  	  user-select: none;
  	  -webkit-user-select: none;
  }
  .prev-full-lightbox {
  	  left: -100px;
  }
  .next-full-lightbox {
  	  right: -100px;
  	  border-radius: 3px 0 0 3px;
  }
  .prev-full-lightbox:hover,
  .next-full-lightbox:hover {
  	  color: #999;
  }


/* WIDGET - ACCORDEON */
  /* Accordeon */
  .accordeon {
      margin: 10px auto;
      display: flex;
      flex-direction: column;
  }
  .accordeon .linked {
      padding: 10px 0px;
  }
  .accordeon > * {
  }
  .accordeon__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
      z-index: 1;
      cursor: pointer;
  }
  .accordeon__body {
      border-top: none;
      margin-top: -10px;
      overflow: hidden;
      height: 0;
      padding: 0px;
      transition: all .5s;
  }
  .accordeon__content {
      opacity: 0;
      transition: all .5s .5s;
      display: block;
      justify-content: space-between;
      border-bottom: 5px solid #FFB413;
      padding-bottom: 20px;
  }
  .accordeon--open .accordeon__icon {
      color: #000;
  }
  .accordeon__icon {
      transition: all .2s;
      transform: rotate(0);
      font-size: 30px;
      color: #FFB413;
  }
  .accordeon--open .accordeon__icon {
      transform: rotate(180deg);
  }
  .accordeon--open .accordeon__body {
      padding: 10px 0px 10px;
      height: 100%;
  }
  .accordeon--open .accordeon__content {
      opacity: 1;
  }


/* WIDGET - MODAL */
  /* Modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  #close-modal {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 70px;
      background: #fff;
      color: #000;
      font-size: 40px;
      text-align: center;
      line-height: 70px;
      cursor: pointer;
  }
  .modal-body {padding: 2px 16px;}
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  /* Modal Animation */
  @-webkit-keyframes animatetop {
    from { opacity:0}
    to { opacity:1}
  }
  @keyframes animatetop {
    from { opacity:0}
    to { opacity:1}
  }
  /* Modal Close*/
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
