
@font-face {
    font-family: 'Archivo-Medium';
    src:url('~assets/fonts/Archivo-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo-Bold';
    src:url('~assets/fonts/Archivo-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo-Italic';
    src:url('~assets/fonts/Archivo-Italic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo-Regular';
    src:url('~assets/fonts/Archivo-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Archivo-SemiBold';
    src:url('~assets/fonts/Archivo-SemiBold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
