/* MAIN CSS */
:root{
	 --none-color: none;
	 --path-color: white;
	 --stroke-color: black;
   --blue-color: #0635aa;
}
body {
  background: var(--blue-color);
  text-align: center;
  height: 100%;
  width: 100%;
  margin:0;
  font-family: Archivo-Medium;
}
main {
    margin: 0 20%;
    position:relative;
}


/* LOADING */
.loading{
    background:#000;
    position:fixed;
    z-index:200;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
  .center{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
  }
    .loading .ea-logo {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin: 0 auto;
    }
    .loading .deco-video {
        top: 0;
        right: 0;
        position: relative;
        width: 300px;
        overflow: visible;
        mix-blend-mode: normal;
    }

/* LOGO */
.ea-logo {
  position: fixed;
  width: 200px;
  height: auto;
  left: 10%;
  top: 5vh;
  transform: translatex(-50%);
}
#logo-ea{
	width:auto;
	height:auto;
}
path.ealogo_a{
	fill:var(--path-color);
}
path.ealogo_e{
	fill:var(--path-color);
}

/* BACKGROUND */
svg {
  height: auto;
  width: 100vw;
  left: 0%;
  transform: translateX(0%);
}
.mirror.anim-filter .mirror__source image {
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
}
.ea-background {
  background: #0635aa;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  transform: translate(-50%);
  left: 50%;
}
svg image{
  width:100vw;
}
.mirror {
  position: fixed;
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%) scale(1);
  left:0vw;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.mirror__source {
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  float: left;
  width: 100vw;
  height: 100vh;
  left:0px;
  transform:translatey(0%) scale(1);
}
.mirror.anim-filter .mirror__source image {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#main-background, 
.seconde-background {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.seconde-background {
    max-height: 100%;
}

/* MENU */
nav{
  display:block;
}
.open-menu {
    top: 50%;
    display: block;
    z-index: 100;
    position: fixed;
    left: 10%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
.open-menu:before,
.open-menu:after,
.open-menu span:before,
.open-menu span:after{
    content:'';
    position:absolute;
    background:#fff;
    height:3px;
    transition: all 0.35s cubic-bezier(0.785,.135,.15,.86) .10s;
}
.open-menu:before{
    top:0;
    left:0;
    width:50%;
}
    .open-menu:hover::before {
        left: 100%;
    }
.open-menu:after{
    bottom:0;
    right:0;
    width:50%;
}
    .open-menu:hover::after {
        right: 100%;
    }
    .open-menu span {
        left: 0;
        position: relative;
        display:block;
        padding: 3px 15px;
        color: rgba(255,255,255,0);
        transition: all 0.25s cubic-bezier(0.785,.135,.15,.86);
        line-height: 15px;
    }
      .open-menu:hover span {
          color: rgba(255,255,255,1);
          transition: all 0.25s cubic-bezier(0.785,.135,.15,.86) .10s;
          line-height: 28px;
      }
          .open-menu span:before {
              width: 50%;
              top: calc(50% - 1.5px);
              left: 50%;
              transition: all 0.25s cubic-bezier(0.785,.135,.15,.86) .10s;
          }
              .open-menu:hover span:before {
                  top: 0;
                  transition: all 0.25s cubic-bezier(0.785,.135,.15,.86);
              }
          .open-menu span:after {
              width: 50%;
              top: calc(50% - 1.5px);
              left: 0;
              transition: all 0.25s cubic-bezier(0.785,.135,.15,.86) .10s;
          }
              .open-menu:hover span:after {                  
                  top: calc(100% - 3px);
                  transition: all 0.25s cubic-bezier(0.785,.135,.15,.86);
              }

.menu {
    position: fixed;
    z-index: 100;
    width:0;
    height:0;
    top: 0;
    left: 0;
    background: var(--blue-color);
    display: block;
    overflow:hidden;
    transition: padding 0s ease .5s, width 0s ease .5s, height 0s ease .5s, opacity .5s ease ;
    opacity:0;
    padding:0;
    color: #fff;
    z-index: 101;
}
.menu.open{
    height: 80vh;
    width: 60%;
    padding:10vh 20%;
    opacity:1;
    transition: padding 0s ease, width 0s ease, height 0s ease, opacity .5s ease ;
}

    .close {
        position: absolute;
        top: 50%;
        left: 10%;
        height: 10vh;
        width: 6vw;
        cursor: pointer;
        background: var(--blue-color);
        transform: translate(-50%, -50%);
    }
    .left,
    .right{
        height:7px;
        width: 60%;
        background:#fff;
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%, -50%) rotate(0deg);
                transform:translate(-50%, -50%) rotate(0deg);
        -webkit-transition: background .25s ease, -webkit-transform .25s ease;
        transition: background .25s ease, -webkit-transform .25s ease;
        transition: transform .25s ease, background .25s ease;
        transition:transform .25s ease, background .25s ease, -webkit-transform .25s ease;
    }
    .close:hover div,
    .fake-close:hover div {
        background:gray;
    }
    .fake-close .right,
    .menu.open .right{
        -webkit-transform:translate(-50%, -50%) rotate(45deg);
                transform:translate(-50%, -50%) rotate(45deg);
        -webkit-transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: transform .25s ease .65s, background .45s ease;
        transition:transform .25s ease .65s, background .45s ease, -webkit-transform .25s ease .65s;
    }
    .fake-close .left,
    .menu.open .left{
        -webkit-transform:translate(-50%, -50%) rotate(-45deg);
                transform:translate(-50%, -50%) rotate(-45deg);
        -webkit-transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: transform .25s ease .65s, background .45s ease;
        transition:transform .25s ease .65s, background .45s ease, -webkit-transform .25s ease .65s;
    }
    .menu p {
        font-size: 24px;
        margin: 0;
        font-family: 'archivo-medium';
        letter-spacing: 2px;
    }
    .nav {
        margin: 0;
        padding: 0;
        top: 50%;
        position: absolute;
        left: 50%;
        list-style: none;
        transform: translate(-50%, -50%);
    }
    .menu-link {
        font-size: 3em;
        font-weight: 900;
        letter-spacing: 3px;
        font-family: Archivo-Medium;
        line-height: 1em;
    }
    .menu a{
        color: #fff;
        text-decoration: none;
    }
    .menu .social {
        position: absolute;
        top: 50%;
        right: 10%;
        display: grid;
        transform: translate(50%, -50%);
        background: var(--blue-color);
    }
      .social a {
            display: block;
            width: 50px;
            margin: 10px 0;
            padding: 0;
            height: 50px;
        }
          .social i {
              line-height: 50px;
              text-align: center;
              font-size: 38px;
              position: relative;
              -webkit-transition: all .25s ease;
              transition:all .25s ease;
              color:#fff;
          }
          .social a:hover i {
              color:gray;
          }
    .deco-left {
        position: absolute;
        left: calc(10% - 1.5px);
        height: 80vh;
        width: 3px;
        background: #fff;
        top: 50%;
        transform: translatey(-50%);
    }
    .deco-right {
        position: absolute;
        right: calc(10% - 1.5px);
        height: 80vh;
        width: 3px;
        background: #fff;
        top: 50%;
        transform: translatey(-50%);
    }
    .deco-bot {
        position: absolute;
        left: 50%;
        height: 3px;
        width: 80%;
        background: #fff;
        bottom: 10vh;
        transform: translatex(-50%);
    } 
    .deco-video {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 5vh;
        right: 10%;
        transform: translatex(50%);
        mix-blend-mode: lighten;
    }
        .deco-video video {
            width: 100%;
        }
    .menu-logo{
        z-index:1;
    }
        .menu-logo .ea-logo {
            background: var(--blue-color);
        }


/* Page programmation */
#filters {
    position: fixed;
    top: 50%;
    transform: translate(50%, -50%);
    right: 10%;
    max-width: 20%;
    padding: 0 15px;
}
  .button-group {
      position: relative;
  }
    #filters .button {
        display: block;
        text-align: center;
        width: 100%;
        color: rgb(255,255,255);
        background: transparent;
        border: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.3s cubic-bezier(0.785,.135,.15,.86);
        position: relative;
    }
        #filters .button:hover {
            color: rgb(6,53,170);
            transform: scale(1.2);
        }
    .button-type::before {
        content: '';
        width: 70%;
        height: 3px;
        background: #000;
        position: absolute;
        top: 50px;
        left: 15%;
    }
    .button-type::after {
        content: '';
        width: 70%;
        height: 3px;
        background: #000;
        position: absolute;
        top: 100%;
        left: 15%;
    }
    .button-type .button {
        line-height: 50px;
        font-size: 1.5em;
        font-weight: 600;
    }
    .button-semaine .button {
        line-height: 30px;
    }
    .button-type button:nth-child(1) {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 3px;
    }
    .button-type button:last-child {
        margin-bottom: 3px;
    }
    
.element-item {
    width: calc(33% - 30px);
    background: #000;
    color: #fff;
    padding:15px;
}
.element-item a{
    color:#fff; 
}
