/* MAIN CSS */

:root{
	 --none-color: none;
	 --path-color: white;
	 --stroke-color: black;
   --blue-color: #0635aa;
}
body {
  background: var(--blue-color);
  text-align: center;
  height: 100%;
  width: 100%;
  margin:0;
}
main {
    padding: 10vh 6vw;
    position:relative;
}


/* LOGO */
.logo {
  position: fixed;
  width: 200px;
  height: auto;
  left: 3vw;
  top: 5vh;
}
#logo-ea{
	width:auto;
	height:auto;
}
path.ealogo_a{
	fill:var(--path-color);
}
path.ealogo_e{
	fill:var(--path-color);
}

/* BACKGROUND */
svg {
  height: auto;
  width: 100vw;
  left: 0%;
  transform: translateX(0%);
}
.mirror.anim-filter .mirror__source image {
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
}
.fond-principal {
  background: #0635aa;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  transform: translate(-50%);
  left: 50%;
}
svg image{
  width:100vw;
}
.mirror {
  position: fixed;
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%) scale(1);
  left:0vw;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.mirror__source {
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  float: left;
  width: 100vw;
  height: 100vh;
  left:0px;
  transform:translatey(0%) scale(1);
}
.mirror.anim-filter .mirror__source image {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#main-background, 
.seconde-background {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.seconde-background {
    max-height: 100%;
}

/* MENU */
nav{
  display:block;
}
.open-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.menu {
    position: fixed;
    z-index: 100;
    width:0;
    height:0;
    top: 0;
    left: 0;
    background: var(--blue-color);
    display: block;
    overflow:hidden;
    transition: padding 0s ease .5s, width 0s ease .5s, height 0s ease .5s, opacity .5s ease ;
    opacity:0;
    padding:0;
    color: #fff;
    z-index: 101;
}
.menu.open{
    height: 80vh;
    width: 88vw;
    padding:10vh 6vw;
    opacity:1;
    transition: padding 0s ease, width 0s ease, height 0s ease, opacity .5s ease ;
}

    .close {
        position: absolute;
        bottom: 5vh;
        left: 3vw;
        height: 10vh;
        width: 6vw;
        cursor: pointer;
    }
    .left,
    .right{
        height:7px;
        width: 60%;
        background:#fff;
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%, -50%) rotate(0deg);
                transform:translate(-50%, -50%) rotate(0deg);
        -webkit-transition: background .25s ease, -webkit-transform .25s ease;
        transition: background .25s ease, -webkit-transform .25s ease;
        transition: transform .25s ease, background .25s ease;
        transition:transform .25s ease, background .25s ease, -webkit-transform .25s ease;
    }
    .close:hover div,
    .fake-close:hover div {
        background:gray;
    }
    .fake-close .right,
    .menu.open .right{
        -webkit-transform:translate(-50%, -50%) rotate(45deg);
                transform:translate(-50%, -50%) rotate(45deg);
        -webkit-transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: transform .25s ease .65s, background .45s ease;
        transition:transform .25s ease .65s, background .45s ease, -webkit-transform .25s ease .65s;
    }
    .fake-close .left,
    .menu.open .left{
        -webkit-transform:translate(-50%, -50%) rotate(-45deg);
                transform:translate(-50%, -50%) rotate(-45deg);
        -webkit-transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: background .45s ease, -webkit-transform .25s ease .65s;
        transition: transform .25s ease .65s, background .45s ease;
        transition:transform .25s ease .65s, background .45s ease, -webkit-transform .25s ease .65s;
    }
    .menu p {
        font-size: 24px;
        margin: 0;
        font-family: 'archivo-medium';
        letter-spacing: 2px;
    }
    .nav {
        margin: 0;
        padding: 0;
        top: 50%;
        position: absolute;
        left: 50%;
        list-style: none;
        transform: translate(-50%, -50%);
    }
    .menu-link {
        font-size: 3em;
        font-weight: 900;
        letter-spacing: 3px;
        font-family: Archivo-Medium;
        line-height: 1em;
    }
    .menu a{
        color: #fff;
        text-decoration: none;
    }
    .menu .social {
        position: absolute;
        top: 50%;
        right: 6vw;
        display: grid;
        transform: translatey(-50%);
    }
      .social a {
            display: block;
            width: 50px;
            margin: 10px 0;
            padding: 0;
            height: 50px;
        }
          .social i {
              line-height: 50px;
              text-align: center;
              font-size: 38px;
              position: relative;
              -webkit-transition: all .25s ease;
              transition:all .25s ease;
              color:#fff;
          }
          .social a:hover i {
              color:gray;
          }
