@media only screen and (min-width: 0px) and (max-width: 599px) {
    /**** Menu ****/
    .ea-menu {
        position: fixed;
        top: 0;
        left: 10px;
        width: calc(100% - 20px);
        height: 50px;
        background: #000;
        z-index: 100;
    }
    .open-menu {
        top: 25px;
        left: 50%;
    }
    .close {
        top: 5vh;
        left: auto;
        right: 10px;
        width: 15%;
        position: fixed;
        height: 60px;
        transform: none;
    }
    .menu.open {
        height: 86vh;
        width: calc(100% - 30px);
        padding: 7.5vh 15px;
        overflow-y: scroll;
    }
    .menu p {
        font-size: 12px;
        padding: 0 15%;
    }
    .menu-info {
        height: calc(100% - 125px);
        min-height: 245px;
    }
    .navigation {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .nav {
        top: 0;
        position: relative;
        left: 0;
        -webkit-transform: none;
        transform: none;
        margin: 25px 0;
    }
    .menu-link {
        font-size: 1.3em;
        line-height: 1.5em;
    }
    .ea-slider {
        display: none;
    }
    .deco-left, .deco-right, .deco-bot {
        display: none;
    }
    .menu .social {
        position: relative;
        display: block;
        top: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .social a {
        display: inline-block;
    }
    .ea-tv {
        display: none;
    }
    .menu .ea-tv {
        display: block;
        position: relative;
        padding: 0;
        left: 50%;
        transform: translatex(-50%);
        bottom: auto;
        margin-bottom: 15px;
    }
    .ea-tv a {
        line-height: 35px;
    }
  
    /**** Page prog ****/
    .deco-video {
        display: none;
    }
    main {
        margin: 0 10px 65px;
    }
    .ea-titre {
        font-size: 1em;
        letter-spacing: 2px;
        margin: 65px 0 15px;
        line-height: 2em;
    }
    .ea-logo{
        display:none;   
    }
    .menu .ea-logo {
        width: auto;
        height: 60px;
        display:block;
    }
    .menu #logo-ea {
        width: auto;
        height: 100%;
    }
    .stamp {
        display: none;
    }
    .element-item {
        width: calc(98% - 30px);
    }
    #filters {
        top: 50px;
        width: calc(100% - 50px);
        left: 10px;
        max-width: none;
        transform: none;
        height: calc(100vh - 100px);
        background: #000;
        z-index: 10;
        display: none;
    }
    .button-group {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        display:none;
    }
    #filters.mobile-stage, 
    #filters.mobile-semaine,
    #filters.mobile-stage .button-type,
    #filters.mobile-semaine .button-semaine{
        display: block; 
    }
  
    .mobile-menu {
        position: fixed;
        bottom: 0;
        width: calc(100% - 20px);
        left: 10px;
        height: 50px;
        z-index:10;
        cursor:pointer;
        display: block;
    }
    .select-stage, .select-semaine {
        line-height: 50px;
        width: calc(50% - 25px);
        background: #fff;
        display: block;
        font-family: Archivo-Bold;
    }
    .select-stage {
        float: left;
    }
    .select-semaine {
        float: right;
    }
    .select-all {
        line-height: 50px;
        width: 50px;
        text-align: center;
        color: #fff;
        background: #0635aa;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-family: Archivo-Bold;
        font-size: 1.5em;
    }
    #filters .button-type .button:first-child {
        display: none;
    }
  
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    main {
        margin: 0 15px 0 20%;
    }
     /***** Menu *****/
    .menu-link {
        font-size: 1.5em;
    }
    .social a {
        height: 30px;
    }
    .social i {
        line-height: 30px;
    }
    .menu p {
        font-size: 10px;
    }
    .ea-tv a {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .ea-slider .slider {
        width: 100px;
        height: 75px;
    }
  
    /**** Page prog ****/
    .ea-titre {
        font-size: 1.5em;
    }
    .element-item {
        width: calc(48% - 20px);
        padding: 15px 10px;
    }
    .grid-artistes strong {
        font-size: 1em;
    }
    .button-type .button {
        font-size: 1.2em;
    }
    .stamp1 {
        left: 50%;
        width: 50%;
    }
    .stamp2 {
        display:none;
    }
    .deco-video {
        height: 100px;
    }
  
    /**** Page event ****/
    .ea-sidebar-evenement {
        max-width: calc(20% - 20px);
    }
    .date-event {
        font-size: 10px;
    }
    .date-time {
        font-size: 14px;
    }
    .link-map a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
    .shop {
        padding: 15px 30px 30px;
    }
    .billetterie a {
        right: 0;
    }
    .reserver i, 
    .link-map i, 
    .retour b {
        display: none;
    }
    .reserver a, 
    .link-map a {
        text-align:center;
    }
    .reserver a,  
    .billetterie a, 
    .retour {
        font-size: 10px;
    }
    .description {
        padding: 15px 30px;
    }
    .nav-select {
        font-size: 8px;
    }
    .prev-event {
        padding: 0 0 0 15px;
    }
    .next-event {
        padding: 0 15px 0 0;
    }
    .tarif {
        padding: 30px 30px 0;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1263px) {
  main {
      margin: 0 0 0 20%;
  }
  svg {
      height: 100%;
      width: auto;
  }
  
   /***** Menu *****/
  .menu-link {
      font-size: 2em;
  }
  .menu p {
    font-size: 12px;
  }
  
  /**** Page prog ****/
  .ea-titre {
      font-size: 2.2em;
  }
  .grid-artistes {
      font-size: 1em;
  }
  .deco-video {
      height: 150px;
  }
  
  /**** Page event ****/
  .ea-sidebar-evenement {
      max-width: calc(20% - 50px);
  }
  .reserver i, .link-map i {
      width: 50px;
      font-size: 22px;
  }
  .reserver a, 
  .link-map a, 
  .billetterie a, 
  .retour {
      font-size: 14px;
  }
  .date-event {
      font-size: 14px;
  }
  .date-time {
      font-size: 16px;
  }
  .retour b {
      font-size: 12px;
  }
  .nav-select {
      font-size: 10px;
  }
  
}
@media only screen and (min-width: 1264px) and (max-width: 1380px) {
   svg {
      height: 100%;
      width: auto;
  }
  
  .ea-logo {
      top:3vh
  }
    /**** Menu ****/
  .menu p {
      font-size: 14px; letter-spacing:1px
  }
  .menu-link {
      font-size:2em;
  }
  /**** Page prog ****/
  .ea-titre {
      font-size: 2.3em;
      line-height:42px;
  }
  .grid-artistes {
      font-size: 1em;
  }
  .grid-artistes strong {
       font-size: 1.1em;
  }
  .deco-video {
      width:15%;
      top:3vh;
      height: 100px;
  }
  
   .button-type .button {
      font-size:1.25em;
  }
   .button-type .button:nth-child(1) {
      font-size:12px;
  }
    
  
}



 
