/* Import */
@import url('https://influx-002.netlify.com/css/config.css');

/* Grand */
@media only screen and (min-width:960px) and (max-width:1264px){
    .equipes article {
        padding: 15px 10%;
    }
}

/* Moyen */
@media only screen and (min-width:600px) and (max-width:959px){
    .wrapper {
        display: block;
        grid-template-columns: none;
        width: 100%;
    }
    .equipes article {
        padding: 15px;
        width: 33%;
        display: inline-block;
    }
    .equipes .title {
        margin: 0 auto;
        width: auto;
        display: inline-grid;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .equipes h3 {
        font-size: 30px;
    }
}

/* Petit */
@media only screen and (max-width:599px){
    .wrapper {
        display: block;
        grid-template-columns: none;
        width: 100%;
    }
    .equipes article {
        padding: 30px 15px;
    }
    .equipes .title {
        margin: 0 auto;
        width: auto;
        display: inline-grid;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .equipes h3 {
        font-size: 30px;
    }
}
