@media only screen and (min-width: 0px) and (max-width: 599px) {
    /**** Menu ****/
    .ea-menu {
        position: fixed;
        top: 0;
        left: 10px;
        width: calc(100% - 20px);
        height: 50px;
        background: #000;
        z-index: 100;
    }
    .open-menu {
        top: 25px;
        left: 50%;
    }
    .close {
        top: 5vh;
        left: auto;
        right: 10px;
        width: 15%;
        position: fixed;
        height: 60px;
        transform: none;
    }
    .menu.open {
        height: 86vh;
        width: calc(100% - 30px);
        padding: 7.5vh 15px;
        overflow-y: scroll;
    }
    .menu p {
        font-size: 12px;
        padding: 0 15%;
    }
    .menu-info {
        height: calc(100% - 125px);
        min-height: 245px;
    }
    .navigation {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .nav {
        top: 0;
        position: relative;
        left: 0;
        -webkit-transform: none;
        transform: none;
        margin: 25px 0;
    }
    .menu-link {
        font-size: 1.3em;
        line-height: 1.5em;
    }
    .ea-slider {
        display: none;
    }
    .deco-left, .deco-right, .deco-bot {
        display: none;
    }
    .menu .social {
        position: relative;
        display: block;
        top: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .social a {
        display: inline-block;
    }
    .ea-tv {
        position: relative;
        padding: 0;
        left: 50%;
        transform: translatex(-50%);
        bottom: auto;
        margin-bottom: 15px;
    }
    .ea-tv a {
        line-height: 35px;
    }
  
    /**** Page prog ****/
    .deco-video {
        display: none;
    }
    main {
        margin: 0 10px 65px;
    }
    .ea-titre {
        font-size: 1.5em;
        letter-spacing: 2px;
        margin: 65px 0 15px;
    }
    .ea-logo{
        display:none;   
    }
    .menu .ea-logo {
        width: auto;
        height: 60px;
        display:block;
    }
    .menu #logo-ea {
        width: auto;
        height: 100%;
    }
    .stamp {
        display: none;
    }
    .element-item {
        width: calc(98% - 30px);
    }
    #filters {
        top: 50px;
        width: calc(100% - 50px);
        left: 10px;
        max-width: none;
        transform: none;
        height: calc(100vh - 100px);
        background: #000;
        z-index: 10;
        display: none;
    }
    .button-group {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        display:none;
    }
    #filters.mobile-stage, 
    #filters.mobile-semaine,
    #filters.mobile-stage .button-type,
    #filters.mobile-semaine .button-semaine{
        display: block; 
    }
  
    .mobile-menu {
        position: fixed;
        bottom: 0;
        width: calc(100% - 20px);
        left: 10px;
        height: 50px;
        z-index:10;
        cursor:pointer;
        display: block;
    }
    .select-stage, .select-semaine {
        line-height: 50px;
        width: calc(50% - 25px);
        background: #fff;
        display: block;
        font-family: Archivo-Bold;
    }
    .select-stage {
        float: left;
    }
    .select-semaine {
        float: right;
    }
    .select-all {
        line-height: 50px;
        width: 50px;
        text-align: center;
        color: #fff;
        background: #0635aa;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-family: Archivo-Bold;
        font-size: 1.5em;
    }
    #filters .button-type .button:first-child {
        display: none;
    }
  
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    /**** Page prog ****/
    .ea-titre {
        font-size: 2em;
    }
    .element-item {
        width: calc(48% - 20px);
        padding: 15px 10px;
    }
    .grid-artistes strong {
        font-size: 1em;
    }
    .button-type .button {
        font-size: 1.2em;
    }
    .stamp1 {
        left: 50%;
        width: 50%;
    }
    .stamp2 {
        display:none;
    }
    .deco-video {
        height: 100px;
    }
  
  
    /***** Menu *****/
    .menu-link {
        font-size: 2em;
    }
    .social a {
        height: 30px;
    }
    .social i {
        line-height: 30px;
    }
    .menu p {
        font-size: 14px;
    }
    .ea-tv a {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .ea-slider .slider {
        width: 100px;
        height: 75px;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1280px) {
   svg {
    height: 100%;
    width: auto;
  }
    /**** Menu ****/
.menu-link {font-size:2.2em;}
  /**** Page prog ****/
  .ea-titre {
      font-size: 2.8em;
  }
  .grid-artistes {
      font-size: 1em;
  }
  .grid-artistes strong {
       font-size: 1.1em;
  }
  .deco-video {
    width:15%;
      height: 100px;
  }
  
}



 
