.intro-enter-active,
.intro-leave-active {
  transition-duration: 2000ms;
}
.intro-enter-active::before, .intro-enter-active::after,
.intro-leave-active::before,
.intro-leave-active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 50%;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}
.intro-enter-active::before,
.intro-leave-active::before {
    background-color: #0635aa;
}
main:before{
    background-image: url(https://electro-alternativ.com/images/ea-15-logo-noms.png);
    background-size: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 0vh;
}
.intro-enter-active::after,
.intro-leave-active::after {
    top: 50%;
    background-color: #0635aa;
}
main:after{
    background-image: url(https://electro-alternativ.com/images/ea-15-logo-noms.png);
    background-size: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center -50vh;
}
.intro-leave::before, .intro-leave::after {
  transform: translatex(-100%);
}
.intro-leave-active::before {
  transition-duration: 500ms;  
}
.intro-leave-active::after {
  transition-duration: 300ms;
  transition-delay: 200ms;
}
.intro-leave-to::before, .intro-leave-to::after {
  transform: translatex(0);
  transform-origin: left;
}
.intro-enter::before, .intro-enter::after {
  transform: translatex(0);
}
.intro-enter-active::before {
  transition-duration: 500ms;  
}
.intro-enter-active::after {
  transition-duration: 300ms;
  transition-delay: 200ms;
}
.intro-enter-to::before, .intro-enter-to::after {
  transform: translatex(100%);
  transform-origin: right;
  transition-delay: 1000ms;
}



.black.intro-enter-active::before,
.black.intro-leave-active::before,
.black.intro-enter-active::after,
.black.intro-leave-active::after {
    background-color: #000;
    background-image: none;
}

