.intro-enter-active,
.intro-leave-active {
  transition-duration: 1000ms;
}
.intro-enter-active::before, .intro-enter-active::after,
.intro-leave-active::before,
.intro-leave-active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 50%;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}
.intro-enter-active::before,
.intro-leave-active::before {
    background-color: #0635aa;
}
main:before{
    background-image: url(https://electro-alternativ.com/images/ea-15-logo-noms.png);
    background-size: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.intro-enter-active::after,
.intro-leave-active::after {
    top: 50%;
    background-color: #0635aa;
}
main:after{
    background-image: url(https://electro-alternativ.com/images/ea-15-logo-noms.png);
    background-size: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 50%;
}
.intro-leave::before, .intro-leave::after {
  transform: translatex(-100%);
}
.intro-leave-active::before {
  transition-duration: 800ms;
}
.intro-leave-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}
.intro-leave-to::before, .intro-leave-to::after {
  transform: translatex(0);
  transform-origin: left;
}
.intro-enter::before, .intro-enter::after {
  transform: translatex(0);
}
.intro-enter-active::before {
  transition-duration: 800ms;
}
.intro-enter-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}
.intro-enter-to::before, .intro-enter-to::after {
  transform: translatex(100%);
  transform-origin: right;
}




.outro-enter-active,
.outro-leave-active {
  transition-duration: 1000ms;
}
.outro-enter-active::before, .outro-enter-active::after,
.outro-leave-active::before,
.outro-leave-active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 50%;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}
.outro-enter-active::before,
.outro-leave-active::before {
  background-color: #000000;
}
.outro-enter-active::after,
.outro-leave-active::after {
  top: 50%;
  background-color: #000000;
}
.outro-leave::before, .outro-leave::after {
  transform: scaleX(0);
}
.outro-leave-active::before {
  transition-duration: 800ms;
}
.outro-leave-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}
.outro-leave-to::before, .outro-leave-to::after {
  transform: scale(1);
  transform-origin: left;
}
.outro-enter::before, .outro-enter::after {
  transform: scaleX(1);
}
.outro-enter-active::before {
  transition-duration: 800ms;
}
.outro-enter-active::after {
  transition-duration: 500ms;
  transition-delay: 300ms;
}
.outro-enter-to::before, .outro-enter-to::after {
  transform: scaleX(0);
  transform-origin: right;
}
