.intro-enter-active,
.intro-leave-active,
.layout-enter-active,
.layout-leave-active{
    transition: all .50s ease-out;
    /*transition-delay: 1000ms;*/
    filter: blur(0px);
    opacity: 1;
}
.intro-enter,
.intro-leave-active,
.layout-enter,
.layout-leave-active{
    opacity: 0;
    filter: blur(100px);
}
