.intro-enter-active .ea-titre,
.intro-leave-active .ea-titre,
.layout-enter-active .ea-titre,
.layout-leave-active .ea-titre {
    transition: all .50s ease-out;
    transition-delay: 1000ms;
    filter: blur(0px);
    opacity: 1;
}
.intro-enter .ea-titre,
.intro-leave-active .ea-titre,
.layout-enter .ea-titre,
.layout-leave-active .ea-titre{
    opacity: 0;
    filter: blur(50px);
}
