/* MAIN CSS */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../assets/roboto.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
:root{
	 --none-color: none;
	 --path-color: white;
	 --stroke-color: black;
   --blue-color: #0635aa;
}
body {
  background: var(--blue-color);
  text-align: center;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto';
  margin:0;
}
main {
  position: absolute;
}

/* LOGO */
.logo {
  position: fixed;
  width: 200px;
  height: auto;
  left: 15px;
  top: 15px;
}
#logo-ea{
	width:auto;
	height:auto;
}
path.ealogo_a{
	fill:var(--path-color);
}
path.ealogo_e{
	fill:var(--path-color);
}

/* BACKGROUND */
svg {
  height: auto;
  width: 100vw;
  left: 0%;
  transform: translateX(0%);
}
.mirror.anim-filter .mirror__source image {
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
}
.fond-principal {
  background: #0635aa;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  transform: translate(-50%);
  left: 50%;
}
svg image{
  width:100vw;
}
.mirror {
  position: fixed;
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%) scale(1);
  left:0vw;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.mirror__source {
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  float: left;
  width: 100vw;
  height: 100vh;
  left:0px;
  transform:translatey(0%) scale(1);
}
.mirror.anim-filter .mirror__source image {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#main-background, 
.seconde-background {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.seconde-background {
    max-height: 100%;
}

/* MENU */
.open-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: blue;
    opacity: 0;
    display: none;
    transition: display 0s ease .5s, opacity .5s ease;
}
.menu.open{
    opacity: 1;
    display: block;
    transition: display 0s ease, opacity .5s ease;
}
.close {
    position: absolute;
    bottom: 10vh;
    left: 6vw;
}
