/* MAIN CSS */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../assets/roboto.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
:root{
	 --none-color: none;
	 --path-color: white;
	 --stroke-color: black;
   --blue-color: #0635aa;
}
body {
  background: var(--blue-color);
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  margin:0;
}
main {
    padding: 10vh 6vw;
    position:relative;
}


/* LOGO */
.logo {
  position: fixed;
  width: 200px;
  height: auto;
  left: 15px;
  top: 15px;
}
#logo-ea{
	width:auto;
	height:auto;
}
path.ealogo_a{
	fill:var(--path-color);
}
path.ealogo_e{
	fill:var(--path-color);
}

/* BACKGROUND */
svg {
  height: auto;
  width: 100vw;
  left: 0%;
  transform: translateX(0%);
}
.mirror.anim-filter .mirror__source image {
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
}
.fond-principal {
  background: #0635aa;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  transform: translate(-50%);
  left: 50%;
}
svg image{
  width:100vw;
}
.mirror {
  position: fixed;
  top: 0%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%) scale(1);
  left:0vw;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.mirror__source {
  display: inline-block;
  overflow: hidden;
  opacity: 1;
  float: left;
  width: 100vw;
  height: 100vh;
  left:0px;
  transform:translatey(0%) scale(1);
}
.mirror.anim-filter .mirror__source image {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#main-background, 
.seconde-background {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}
.seconde-background {
    max-height: 100%;
}

/* MENU */
.open-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.menu {
    position: fixed;
    z-index: 100;
    width:0;
    height:0;
    top: 0;
    left: 0;
    background: var(--blue-color);
    display: block;
    overflow:hidden;
}
.menu.open{
    height: 100%;
    width: 100%;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.50s;
    animation-duration: 0.50s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } 
}
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } 
}
.close {
    position: absolute;
    bottom: 5vh;
    left: 3vw;
    height: 10vh;
    width: 6vw;
    cursor: pointer;
}
.left,
.right{
    height:7px;
    width: 60%;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%) rotate(0deg);
            transform:translate(-50%, -50%) rotate(0deg);
    -webkit-transition: background .25s ease, -webkit-transform .25s ease;
    transition: background .25s ease, -webkit-transform .25s ease;
    transition: transform .25s ease, background .25s ease;
    transition:transform .25s ease, background .25s ease, -webkit-transform .25s ease;
}
.close:hover div,
.fake-close:hover div {
    background:gray;
}
.fake-close .right,
.menu.open .right{
    -webkit-transform:translate(-50%, -50%) rotate(45deg);
            transform:translate(-50%, -50%) rotate(45deg);
    -webkit-transition: background .45s ease, -webkit-transform .25s ease .65s;
    transition: background .45s ease, -webkit-transform .25s ease .65s;
    transition: transform .25s ease .65s, background .45s ease;
    transition:transform .25s ease .65s, background .45s ease, -webkit-transform .25s ease .65s;
}
.fake-close .left,
.menu.open .left{
    -webkit-transform:translate(-50%, -50%) rotate(-45deg);
            transform:translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: background .45s ease, -webkit-transform .25s ease .65s;
    transition: background .45s ease, -webkit-transform .25s ease .65s;
    transition: transform .25s ease .65s, background .45s ease;
    transition:transform .25s ease .65s, background .45s ease, -webkit-transform .25s ease .65s;
}


